.creator {
  display: grid;
  grid-template-columns: .2fr repeat(2, 1fr) .2fr;
  background-color: rgba($color-white, 0.9);
  backdrop-filter: blur(7px);
  width: 92%;
  justify-items: center;
  min-height: 90vh;
  align-items: center;
  border-bottom-right-radius: 5rem;
  border-top-right-radius: 5rem;

  &__img {
    grid-column: 2 / 3;
  }

  &__text {
    grid-column: 3 / 4;
    text-align: right;

    &--title {
      text-transform: none;
      letter-spacing: 0;
      color: $color-primary;
      line-height: 1.25;
      margin-bottom: 2rem;
    }

    &--para {
      font-size: 1.8rem;
      font-weight: 500;
      margin-bottom: 4rem;
    }
  }
}

.black {
  background-color: #000;
  height: 2rem;
  width: 2rem;
  border-radius: 2rem ;
  position: absolute;
  top: 2rem;
  right: 2rem;
  cursor: pointer;
}