.modal {
  width: 70%;
  background-color: #fff;
  padding: 5%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  border-radius: 2rem;
}

.closebtn {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

.hidden {
  //display: none;
}

.overlay {
  backdrop-filter: blur(4px);
}