.heading__1 {
  font-weight: 700;
  text-transform: uppercase; }

.heading__2, .heading__3 {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.3rem; }

/* Basic Scrollbar Styling */
::-webkit-scrollbar {
  width: 1.2rem;
  /* Scrollbar width */ }

::-webkit-scrollbar-track {
  background: #222;
  /* Track background color */ }

::-webkit-scrollbar-thumb {
  background: #f2f2f0;
  /* Thumb background color */
  border-radius: 10px;
  /* Rounded corners */ }

/* Hover Effects (Optional) */
::-webkit-scrollbar-thumb:hover {
  background: #fff;
  /* Darker thumb on hover */ }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

body {
  overflow-x: hidden;
  background: linear-gradient(to top, rgba(243, 70, 5, 0.96), rgba(19, 51, 167, 0.98)), url("/img/background.jpg") fixed center;
  background-repeat: no-repeat;
  background-size: cover; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  font-family: 'Montserrat', sans-serif;
  color: #1333A7;
  font-weight: 400;
  line-height: 1.6; }

.heading__1 {
  font-size: 5rem;
  letter-spacing: 0.2rem; }

.heading__2 {
  font-size: 4rem;
  letter-spacing: 0.2rem; }

.heading__3 {
  font-size: 3rem;
  letter-spacing: 0.1rem; }

.light {
  color: #fff; }

.dark {
  color: #000; }

.highlighted {
  color: #1333A7;
  font-size: 4rem;
  font-weight: 800;
  position: relative;
  padding: .5rem 1rem;
  z-index: 2; }
  .highlighted:hover {
    color: #fff; }
  .highlighted::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background: linear-gradient(to right top, #F37402, #F34605);
    transition: all .1s ease-in-out;
    z-index: -1; }
  .highlighted:hover::before {
    height: 100%; }

.short-para {
  font-size: 1.7rem;
  line-height: 1.5;
  font-weight: 400; }

.btn-main {
  background: #0149CC;
  /* Old browsers */
  background: -moz-linear-gradient(left, #0149CC 0%, #00C6FF 50%, #0149CC 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #0149CC 0%, #00C6FF 50%, #0149CC 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #0149CC 0%, #00C6FF 50%, #0149CC 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0149CC', endColorstr='#0149CC', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
  color: #fff;
  border-radius: 50rem;
  align-self: center;
  justify-self: center;
  display: inline-block !important;
  padding: 1.6rem 4rem;
  cursor: pointer;
  position: relative;
  transition: color 0.35s ease, background-position 0.3s ease-in-out, background-color 0.35s ease, box-shadow 0.3s ease-in-out;
  z-index: 1;
  overflow: hidden;
  background-size: 200% 100%;
  background-position: 0 0; }
  .btn-main:hover {
    box-shadow: -0.25em 0.25em 2.25em rgba(0, 0, 0, 0.35);
    background-position: 100% 100%; }

.header {
  height: 10rem;
  background: #1333A7;
  backdrop-filter: blur(6px);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  align-items: center; }
  .header__logo--img {
    height: 8rem;
    margin-left: 10rem; }
  .header__nav {
    list-style: none;
    text-transform: uppercase;
    letter-spacing: .2rem;
    margin-right: 10rem;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    align-self: center;
    justify-self: end; }
    .header__nav--list, .header__nav--list {
      text-decoration: none;
      color: white;
      padding: 1rem .5rem;
      position: relative;
      margin-right: .5rem; }
      .header__nav--list:not(:last-child), .header__nav--list:not(:last-child) {
        margin-right: 3rem; }
      .header__nav--list::before, .header__nav--list::before {
        content: "";
        height: 3px;
        width: 100%;
        background: #fff;
        position: absolute;
        bottom: 0;
        left: 0;
        transform: scaleX(0);
        transform-origin: left;
        transition: all .2s ease-in-out; }
      .header__nav--list:hover::before, .header__nav--list:hover::before {
        transform: scaleX(1); }

.el {
  height: 200vh;
  background: #FFED05; }

.creator {
  display: grid;
  grid-template-columns: 0.2fr repeat(2, 1fr) 0.2fr;
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(7px);
  width: 92%;
  justify-items: center;
  min-height: 90vh;
  align-items: center;
  border-bottom-right-radius: 5rem;
  border-top-right-radius: 5rem; }
  .creator__img {
    grid-column: 2 / 3; }
  .creator__text {
    grid-column: 3 / 4;
    text-align: right; }
    .creator__text--title {
      text-transform: none;
      letter-spacing: 0;
      color: #F34605;
      line-height: 1.25;
      margin-bottom: 2rem; }
    .creator__text--para {
      font-size: 1.8rem;
      font-weight: 500;
      margin-bottom: 4rem; }

.black {
  background-color: #000;
  height: 2rem;
  width: 2rem;
  border-radius: 2rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
  cursor: pointer; }

.blogShort {
  margin: 5rem auto;
  display: grid;
  grid-template-columns: 0.3fr repeat(3, 1fr) 0.3fr; }
  .blogShort__title {
    grid-column: 2/5; }
  .blogShort__box {
    grid-column: 2/5;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem; }
    .blogShort__box > * {
      padding: 1.44rem 2rem;
      border-radius: 1rem;
      border: 2px solid #fff;
      background-color: rgba(0, 0, 0, 0.3);
      backdrop-filter: blur(2px); }
  .blogShort__img {
    width: 100%;
    border-radius: 1.5rem; }

.about {
  display: grid;
  font-size: 1.8rem;
  font-weight: 500;
  color: #333;
  line-height: 1.7;
  grid-template-columns: 0.3fr repeat(3, 1fr) 0.3fr;
  padding: 8rem 0; }
  .about__text {
    margin-top: 2rem;
    text-align: center;
    grid-column: 2/5; }
  .about__box {
    grid-column: 2/5;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
    margin-top: 3rem; }
    .about__box > * {
      background: #fff;
      padding: 1.5rem 2rem;
      border-radius: 1rem;
      color: #F34605;
      text-align: center; }

.hoverBox {
  transition: all .2s; }

.hoverBox:hover {
  transform: scale(1.01) translateY(-8px);
  box-shadow: 2px 12px 28px 2rem rgba(0, 0, 0, 0.3); }

.modal {
  width: 70%;
  background-color: #fff;
  padding: 5%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  border-radius: 2rem; }

.closebtn {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer; }

.overlay {
  backdrop-filter: blur(4px); }

.hero {
  display: grid;
  grid-template-columns: 0.3fr repeat(2, 1fr) 0.3fr;
  grid-gap: 6rem;
  padding: 5rem 0 15rem 0;
  color: #fff; }
  .hero__text {
    margin-top: 3rem;
    grid-column: 2 /4;
    text-align: center; }
    .hero__text--title {
      margin-bottom: 1.5rem; }
    .hero__text--para {
      font-size: 2rem;
      width: 80%;
      margin: 2rem auto; }
    .hero__text--link {
      margin-top: 1.5rem; }
  .hero__img {
    display: grid;
    grid-column: 2 / 4;
    grid-template-columns: .5fr 1fr .5fr;
    grid-template-rows: 1fr; }
    .hero__img--1 {
      grid-column: 1/2;
      grid-row: 1/2;
      align-self: end;
      transform: translateX(13rem);
      background-blend-mode: multiply;
      z-index: 2; }
    .hero__img--2 {
      width: 80%;
      grid-column: 2 / 3;
      background-color: #1333A7;
      margin: 0 auto;
      border-radius: 2rem; }
    .hero__img--3 {
      align-self: start;
      transform: translateX(-13rem);
      z-index: 2; }

.errorBody {
  background: linear-gradient(to right top, #F37402, #1333A7, #F34605, #F37402);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative; }

#message {
  width: 40%;
  padding: 1em;
  background: #fff;
  color: #F34605;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 3rem; }
