.errorBody {
  background: linear-gradient(to right top, $color-tertiary, $color-secondary, $color-primary, $color-tertiary);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

#message {
  width: 40%;
  padding: 1em;
  background: $color-white;
  color: $color-primary;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 3rem;
}