$color-light-grey: #ccc;
$color-grey-dark: #333;

$color-white: #fff;
$color-black: #000;

$color-primary: #F34605;
$color-secondary: #1333A7;
$color-tertiary: #F37402;
$color-blue-light: #81B7D7;
$color-yellow: #FFED05;
